body {
    display: flex;
    background-color: goldenrod;
}

.col {
    width: 50%;
    height: 100vh;
    border: 1px solid black;
    text-align: center;
}

#mcw, #count {
    font-weight: bolder;
}

.btn {
    display: block;
    margin: 10px auto;
}

#input {
    padding: 15px;
}